<h2>マイページ</h2>

<p>登録情報</p>
<%= link_to '編集する', edit_customer_path %>
<!-- 会員情報詳細 -->
<!-- 氏名 -->
<!-- カナ -->
<!-- 郵便番号 -->
<!-- 住所 -->
<!-- 電話番号 -->
<!-- メールアドレス -->

<p>配送先</p>
<%= link_to '一覧を見る', 
<%= link_to 'ログアウト', destroy_customer_session_path,method: :delete %>