<h2>ジャンル編集</h2>
<%= form_with model: @genre, url: admin_genre_path do |f| %>
  <div class="form-group">
    <%= f.label :name, 'ジャンル名' %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit '新規登録' %>
<% end %>